.title {
	font-size: clamp(
		3.5rem,
		calc(0px + (243 - 0) * ((100vw - 320px) / (1440 - 320))),
		14rem
	);
	font-weight: 700;
	text-align: center;
	margin: 50px
		clamp(
			0px,
			calc(0px + (112 - 0) * ((100vw - 320px) / (1440 - 320))),
			112px
		)
		30px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	text-wrap: nowrap;
	overflow: hidden;
}

@media (max-width: 834px) {
	.title {
		margin: 50px 0 30px;
	}
}