:root{
    --textColor: #1a1a1a;
    --main-bg: #fff;
    color-scheme: light;
}

.darkTheme{
    --textColor: #fff;
    --main-bg: #090D1F;
    color-scheme: dark;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	background: none;
	outline: none;
    color: var(--textColor);
    transition: all 0.5s;
}

svg{
    color: var(--main-bg);
}

html, body{
    width: 100%;
    height: 100%;
}

.body{
    background: var(--main-bg);
    transition: all 0.5s;
}

.mainContainer{
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.disable-scroll{
    overflow: hidden;
}