.modalMenu{
    background: var(--main-bg);
    position: fixed;
    height: 110vh;
    width: 100vw;
    top: -200%;
    left: 0;
    right: 0;
    transition: all 0.5s;
}

.active{
    top: 0;
    bottom: 0;
}

.modal_inner{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 54px;
    font-size: 20px;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.nav_link{
    font-weight: 400;
}

.modalMenu_btn{
    background: none;
    border: none;
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 15%;
    left: 50%;
    transform: translateX(-100%);
}

.lines_container{
    position: relative;
}

.btn_line{
    width: 24px;
    height: 3px;
    position: absolute;
    background: var(--textColor);
}

.line1{
    transform: rotate(45deg);
}

.line2{
    transform: rotate(-45deg);
}

@media (min-width: 784px) {
    .modalMenu{
        display: none;
    }
}